@import prefixes
@import colors
leftColumn = 200px
topRow     = 600px
body
    margin 0px
    line-height 1.3em
    font-family arial, sans-serif
    #content
        float left
        clear left
        border-top 1px dotted HNLink
        border-bottom 1px dotted HNLink
        padding-bottom 3px
    .reasonsList
        position absolute
        z-index 3
        top 0px
        left 0px
        width (leftColumn - 1px)
        padding-top 24px
        height (topRow - @padding-top + 3px)
        border-right 1px dotted HNLink
        ul
            margin 0px
            padding 0px
        li
            padding 0px
            &:first-child // hide totals row
                display none
            input
                display none
            label
                display block
                background lighten(HNBlue, 95%)
                list-style-type none
                font-size 0.9em
                padding 3px 12px 3px 12px
                border-top 1px solid lighten(HNBlue, 95%)
                border-bottom 1px solid lighten(HNBlue, 95%)
                position relative
            .line
                display block
                position absolute
                top 7px
                right 12px
                width 20px
                height 15px
                background white
                border-radius 2px
                span
                    display block
                    position absolute
                    top 6px
                    left 3px
                    width 14px
                    height 3px

    .reasonsGraph
        position absolute
        top 0px
        left 0px
        padding-left leftColumn
        height topRow
        svg
            position relative
            z-index 2 // above curtain
        g.disabled
            pointer-events none
            path
                opacity 0
        .axis
            pointer-events none
            font-size 0.8em
            text
                fill black
            &.y
                line
                    stroke white
                    stroke-width 2px
                    stroke-dasharray 2, 20
                    opacity 0.4
            &.non-stacked
                text
                    fill black
                &.y
                    line
                        stroke black
                        opacity 0.3
        .line path:hover
            cursor pointer
        .datapoint
            stroke-width 5
            stroke transparent
            &:hover
                stroke #006
                stroke-width 2
                stroke-opacity 0.6
                cursor pointer

    .reasonsList
        ul.manual
            label
                color #ccc
                .line
                    background transparent
    .reasonsList ul.manual input:checked + label
    .reasonsList li.active label
    .reasonsList label:hover
            background white
            color black !important
            cursor pointer
            padding-top 4px
            margin-top -1px
            border-top-color HNBlue
            border-bottom-color HNBlue
    .mainReasons:hover
        .reasonsGraph.hoverOn
            g.linesGroup
                path
                    opacity 0.1
                .disabled path
                    opacity 0
                .active path.dataline
                .line:hover path
                    opacity 1 !important
                .active path
                    stroke-width 2px
    .mainReasons .stackedSelection
        g path
            opacity 0.1
        g.selected path
            opacity 0.9 !important
    .stackedOrNotSelector
        position absolute
        z-index 3
        top 0px
        left 0px
        width (leftColumn - 1px)
        input
            display none
        label
            box-sizing border-box
            width 50%
            display block
            border-bottom 1px solid #aaa
            background #f9f9f9
            float left
            padding 2px 8px
            font-size 0.8em
            text-align center
            &:hover
                cursor pointer
                background lighten(HNBlue, 90%)
                box-shadow 0px 0px 4px 1px HNBlue
        input:first-child + label
            border-right 1px solid #aaa
        input:checked + label
            background HNBlue
            color white
            font-weight bold
            border-color HNBlue
    .maleFemaleBothSelector
        position absolute
        top 21px
        right 100px
    .buttonset
        borderRadius = 3px
        button
            border 1px solid #aaa
            border-left 0px none
            margin 0px
            padding 2px 6px
            background #ddd
            &:first-child
                border-left 1px solid #aaa
                border-top-left-radius borderRadius
                border-bottom-left-radius borderRadius
            &:last-child
                border-top-right-radius borderRadius
                border-bottom-right-radius borderRadius
            &:hover
                background #eee
            &:active
                background #fff
    #content
        width 100%
        height topRow
        position relative
        overflow hidden
    .details
        z-index 4
        position absolute
        top 0px
        left 0px
        width 100%
        height topRow
        transform translate(-100%, 0px)
        transition 0.8s
        background white
        &.active
            transform translate(0%, 0px)
        h2
            font-weight normal
            color #333
            border-bottom 1px solid #666
            background #f6f6f6
            margin 0px
            padding 9px 00px 19px 70px
            height 36px
            font-size 1.1em
            line-height 1.4em
            > span
                display block
                float left
                position relative
                padding 0px 22px
            span.txt
                padding 0px
            span.name
                display block
                width 384px
                text-align center
                white-space nowrap
                overflow hidden
                text-overflow ellipsis
            span.gender
                display block
                width 97px
                text-align center
            span.preTotal
                clear left
                padding 0px 4px 0px 0px
            span.total
                padding 0px 5px

            .arrow
                display block
                width 30px
                height 30px
                position absolute
                top -4px
                span
                    position absolute
                    top 9px
                    opacity 0.2
                &:hover
                    cursor pointer
                    span
                        opacity 1
                &.left
                    left 0px
                    span
                        right 14px
                        border-top 6px solid transparent
                        border-bottom 6px solid transparent
                        border-right 6px solid #f00
                    &:hover span
                        border-right-color #99000d
                &.right
                    right 0px
                    span
                        left 14px
                        border-top 6px solid transparent
                        border-bottom 6px solid transparent
                        border-left 6px solid #f00
                    &:hover span
                        border-left-color #99000d

        ul
            padding 0px
            margin 0px
            overflow auto
            height 600px
            clear left
            li.header
                background #eee
                border-bottom 1px solid #888
                h3
                div
                    font-weight bold
                div.histogram
                    padding-top 5px
                div
                    text-align center

            li
                list-style-type none
                float left
                clear left
                width 100%
                border-bottom 1px solid #aaa
                position relative
                &:hover
                    background #f8f8f8
                h3
                    font-size 0.9em
                    font-weight normal
                    float left
                    width 190px
                    width calc(100% \- 462px)
                    width -moz-calc(100% \- 462px)
                    width -webkit-calc(100% \- 462px)
                    display block
                    overflow hidden
                    height 24px
                    margin 6px 0px 3px 0px
                    text-overflow ellipsis
                    white-space nowrap
                    position relative
                div.total
                    text-align right
                    width 52px
                    font-size 0.9em
                    float left
                    padding 6px 10px 6px 0px
                div.histogram
                    font-size 0.9em
                    float left
                    position relative
                    width 400px
                    .col
                        float left
                        height 31px
                        position absolute
                        div
                            width 100%
                            position absolute
                            bottom 0px
                            background-color #A50F15
                        &:hover
                            background #eee
                            cursor help
                            div
                                background-color lighten(#A50F15, 18%)
        .backButton
            @import backButton
    .mainReasons > .histogram
        position absolute
        top 0px
        right 0px
        height 600px
        display none
        &.active
            display block
        div
            position absolute
            z-index 1
            &:hover
                outline 2px solid white
                z-index 2
    .curtain
        position absolute
        z-index 1
        top 0px
        width auto
        bottom 0px
        background lighten(HNBlue, 70%)
        transition 0.2s
        opacity 1
        &.hidden
            opacity 0

    #story
        z-index 2
        color #333
        padding 10px 13px 10px 213px
        height 130px
        border-top 1px solid HNBlue
        background lighten(HNBlue, 95%)
        position absolute
        top 470px
        right 0px
        width 100%
        box-sizing border-box
        opacity 1
        transition 0.4s
        &.hiding
            opacity 0
        &.hidden
            display none
        .close
            position absolute
            top 0px
            right 0px
            border-left 1px solid HNBlue
            border-bottom 1px solid HNBlue
            box-sizing border-box
            display block
            width 20px
            height 20px
            font-size 0.7em
            line-height 1.7em
            background lighten(HNBlue, 70%)
            text-align center
            &:hover
                background lighten(HNBlue, 50%)
                cursor pointer
            &:active
                background lighten(HNBlue, 30%)
        .arrow
            border 0px none
            margin 0px
            position absolute
            top 0px
            width 25px
            bottom 0px
            background lighten(HNBlue, 80%)
            font-weight bold
            &:hover
                background lighten(HNBlue, 70%)
                cursor pointer
            &:active
                background lighten(HNBlue, 60%)
            &.left
                border-right 1px solid lighten(HNBlue, 40%)
                left 200px
            &.right
                border-left 1px solid lighten(HNBlue, 40%)
                right 0px
        h1
            font-size 1.1em
            font-weight normal
            margin 0px 0px 6px 0px
        p
            margin 0px
            font-size 0.9em
            a
                position absolute
                bottom 13px
                right 13px
                color HNLink
                &:hover
                    text-decoration none
    #storyButtons
        margin 0px
        padding 0px
        list-style-type none
        float right
        margin-bottom 18px
        li
            box-sizing border-box
            float left
            padding 1px 5px
            background #f9f9f9
            border 1px solid #ccc
            border-left 0px none
            text-align center
            font-size 0.8em
            position relative
            z-index 1
            &:hover
                cursor pointer
                background lighten(HNBlue, 90%)
                box-shadow 0px 0px 4px 1px HNBlue
                z-index 2
            &:active
                background darken(HNBlue, 20%)
            &.active
                background HNBlue
                color white
                transition background 0.8s
            &.back
                border-left 1px solid #ccc
            &.forward
                padding-left 12px
                padding-right 12px
                background #cb181d
                font-weight bold
                border-color #99000d
                color white
                &:hover
                    background #99000d
                    box-shadow 0px 0px 4px 1px #99000d
            &.active + .forward
                background #f9f9f9
                color black
                border-color #ccc
                &:hover
                    background lighten(HNBlue, 90%)
                    box-shadow 0px 0px 4px 1px HNBlue


.fallback
    position absolute
    top 0px
    left 0px
    width 100%
    height 600px
    background white
    z-index 10
    a
        color HNLink
    div
        margin 270px 40px 0px 40px
        text-align center
        padding 20px 10px
        border 1px dotted #aaa

.tooltip em
    font-size 0.95em
