@import prefixes
@import colors
leftColumn = 200px
topRow     = 600px
body
    margin 0px
    line-height 1.3em
    font-family arial, sans-serif
    .reasonsList
        position absolute
        top 0px
        left 0px
        width (leftColumn - 1px)
        padding-top 24px
        height (topRow - @padding-top)
        border-right 1px dotted HNLink
        ul
            margin 0px
            padding 0px
        li
            padding 0px
            &:first-child // hide totals row
                display none
            input
                display none
            label
                display block
                background lighten(HNBlue, 95%)
                list-style-type none
                font-size 0.9em
                padding 3px 12px 3px 12px
                border-top 1px solid lighten(HNBlue, 95%)
                border-bottom 1px solid lighten(HNBlue, 95%)
                position relative
            .line
                display block
                position absolute
                top 7px
                right 12px
                width 20px
                height 15px
                background white
                border-radius 2px
                span
                    display block
                    position absolute
                    top 6px
                    left 3px
                    width 14px
                    height 3px

    .reasonsGraph
        position absolute
        top 0px
        left 0px
        padding-left leftColumn
        height topRow
        g.disabled
            pointer-events none
            path
                opacity 0
        .axis
            pointer-events none
            font-size 0.8em
            text
                fill white
            &.y
                line
                    stroke white
                    stroke-width 2px
                    stroke-dasharray 2, 20
                    opacity 0.4
            &.non-stacked
                text
                    fill black
                &.y
                    line
                        stroke black
                        opacity 0.3
        .line path:hover
            cursor pointer
        .datapoint
            stroke-width 2
            &:hover
                fill #fff
                cursor pointer

    .reasonsList
        ul.manual
            label
                color #ccc
                .line
                    background transparent
    .reasonsList ul.manual input:checked + label
    .reasonsList li.active label
    .reasonsList label:hover
            background white
            color black
            cursor pointer
            border-top-color HNBlue
            border-bottom-color HNBlue
    .mainReasons:hover
        .reasonsGraph.hoverOn
            g.linesGroup
                path
                    opacity 0.1
                .disabled path
                    opacity 0
                .active path.dataline
                .line:hover path
                    opacity 1 !important
                .active path
                    stroke-width 2px
    .mainReasons .stackedSelection
        g path
            opacity 0.1
        g.selected path
            opacity 0.9 !important
    .stackedOrNotSelector
        position absolute
        top 0px
        left 0px
        width (leftColumn - 1px)
        input
            display none
        label
            box-sizing border-box
            width 50%
            display block
            border-bottom 1px solid #aaa
            background #f9f9f9
            float left
            padding 2px 8px
            font-size 0.8em
            text-align center
            &:hover
                cursor pointer
                background lighten(HNBlue, 90%)
                box-shadow 0px 0px 4px 1px HNBlue
        input:first-child + label
            border-right 1px solid #aaa
        input:checked + label
            background HNBlue
            color white
            font-weight bold
            border-color HNBlue
    .maleFemaleBothSelector
        position absolute
        top 21px
        right 100px
    .buttonset
        borderRadius = 3px
        button
            border 1px solid #aaa
            border-left 0px none
            margin 0px
            padding 2px 6px
            background #ddd
            &:first-child
                border-left 1px solid #aaa
                border-top-left-radius borderRadius
                border-bottom-left-radius borderRadius
            &:last-child
                border-top-right-radius borderRadius
                border-bottom-right-radius borderRadius
            &:hover
                background #eee
            &:active
                background #fff
    #content
        width 100%
        height topRow
        position relative
        overflow hidden
    .details
        z-index 4
        position absolute
        top 0px
        left 0px
        width 100%
        height topRow
        transform translate(-100%, 0px)
        transition 0.8s
        background white
        &.active
            transform translate(0%, 0px)
        h2
            font-weight normal
            color #333
            border-bottom 1px solid #666
            background #f6f6f6
            margin 0px
            padding 18px 00px 16px 70px
            min-height 19px
            > span
                display block
                float left
                position relative
                padding 0px 29px
            span.name
                display block
                width 300px
                white-space nowrap
                overflow hidden
                text-overflow ellipsis
            span.gender
                display block
                width 140px
                text-align center

            .arrow
                display block
                width 30px
                height 30px
                position absolute
                top -5px
                span
                    position absolute
                    top 7px
                &:hover
                    cursor pointer
                &.left
                    left 0px
                    span
                        right 10px
                        border-top 7px solid transparent
                        border-bottom 7px solid transparent
                        border-right 7px solid #333
                    &:hover span
                        border-right-color #666
                &.right
                    right 0px
                    span
                        left 10px
                        border-top 7px solid transparent
                        border-bottom 7px solid transparent
                        border-left 7px solid #333
                    &:hover span
                        border-left-color #666

        ul
            padding 0px
            margin 0px
            overflow auto
            height 400px
            clear left
            li
                list-style-type none
                float left
                clear left
                width 100%
                border-bottom 1px solid #aaa
                position relative
                h3
                    font-size 0.9em
                    font-weight normal
                    float left
                    width 190px
                    display block
                    overflow hidden
                    height 24px
                    margin 6px 0px 3px 0px
                    text-overflow ellipsis
                    white-space nowrap
                    position relative
                div.histogram
                    float left
                    position absolute
                    top 1px
                    left 200px
                    .col
                        float left
                        height 31px
                        position absolute
                        div
                            width 100%
                            position absolute
                            bottom 0px
                            background-color #A50F15
                        &:hover
                            background #eee
                            cursor help
                            div
                                background-color lighten(#A50F15, 18%)
        .backButton
            @import backButton
    .mainReasons > .histogram
        position absolute
        top 0px
        right 0px
        height 600px
        display none
        &.active
            display block
        div
            position absolute
            z-index 1
            &:hover
                outline 2px solid white
                z-index 2
.fallback
    position absolute
    top 0px
    left 0px
    width 100%
    height 600px
    background white
    z-index 10
    a
        color HNLink
    div
        margin 270px 40px 0px 40px
        text-align center
        padding 20px 10px
        border 1px dotted #aaa
